runtime = electron                                                                                                                 
target = "10.0.0"                                                                                                                  
target_arch = "x64"